#sold{
    height: 200px;
    width: 120px;
    z-index: 2;
    /*float: right;*/
    position: absolute;
    top: 21px;
    right: 12px;
}

#soldprofile{
    height: 200px;
    width: 120px;
    z-index: 2;
    /*float: right;*/
    position: absolute;
    top: -69px;
    right: 12px;
}

#greyout {
    /*filter: grayscale(100%);*/
    filter: brightness(50%);
}
